@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button class="btn btn-sm btn-primary m-2" id="btnAddEmployee">Add Employee</button>
<table class="table table-bordered">
    <partial name="_EmpTable"/>
</table>

<div class="modal fade" id="EmployeeMadal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h1 class="text-info modal-title" id="empHeading">Add Employee</h1>
            <button class="close text-danger" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body"></div>
        <form method="post">
            <partial name="_EmployeeList"/>
        </form>
        <div class="modal-footer"></div>
            <button class="btn btn-primary" onclick="AddEmployee()" id="AddEmployee">Save</button>
            <button class="btn btn-primary" onclick="UpdateEmployee()" style="display:none" id="btnUpdate">Update</button>
            <button class="btn btn-danger btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
<div>
    <input type="hidden" id="urlEmployeeData" value="@Url.Action("EmployeeList","Ajax")" />
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Custom.js"></script>
